ul  { 
        list-style-type: none;
      }
a:hover
     {
         text-decoration: none;
        color:bleu #0065FC
      }   
a:link 
    { 
 text-decoration:none; 
    }
h4,h5
    {   
        font-weight: bold;
    }
    footer
    {
        display: flex;
    }
    .popu .héber .Acti
    {
        width: 250px;
        height: 200px;
    }
    nav.menu {
        margin-left: auto;
    }
img{
    width: 225px;
    height: 150px;
    border-radius: 10px;
}
.cadre
{
    background-color: lightgray;
    border-radius: 20px;
    margin-left: 50px;
    float: auto;
}
.hebergements
{
    margin-left: 40px;
      padding-top: 25px;
}
.heber
{
    display: flex;flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.popu
{
    display: flex;flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 20px;
}
.popul{
    margin-left: 40px;
    padding-top: 25px;
}