ul  { 
        list-style-type: none;
      }
a:hover
     {
         text-decoration: none;
        color:bleu #0065FC
      }   
a:link 
    { 
 text-decoration:none; 
    }
h4,h5
    {   
        font-weight: bold;
    }
    footer
    {
        display: flex;
        justify-content: space-between;

    }
.hebergements:nth-child(2)
{
    flex: 1;

}
.Assistance:nth-child(3)
{
    flex: 2;

}