ul  { 
        list-style-type: none;
      }
a:hover
     {
         text-decoration: none;
        color:bleu #0065FC
      }   
a:link 
    { 
 text-decoration:none; 
    }
h4,h5
    {   
        font-weight: bold;
    }